.container {
    position: center;
    
  }
  
  .container img {
    width: 100%;
    height:100%;
  }

  .container .btn {
    position: absolute;
    top: 2%;
    left: 93%;
  }
  
  .container .btn:hover {
    background-color: black;
  }
  

  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }
  
  .sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }

  .center {
    position: absolute;
    left: 37%;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    width: 50%;
  }
  
 